* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "harry-potter";
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu button {
  height: 30px;
  width: 110px;
  text-transform: uppercase;
  padding: 0;
  background-color: #f0ba1a;
  border-radius: 7px;
  border: 0px;
}

.App {
  height: 70px;
  background-color: #d92727;
  padding-top: 20px;
}

.start {
  text-align: center;
}

.start h1 {
  font-size: 60px;
}

.card {
  margin: 5px, 15px;
  width: 230px;
  text-align: center;
}

.card p {
  font-size: 20px;
  text-transform: uppercase;
}

.back {
  margin-top: 5px;
  display: block;
  width: 100%
}

.back button {
  text-transform: uppercase;
  width: 100%;
  background-color: #f0ba1a;
}

@font-face {
  font-family: "harry-potter";
  src: url("./fonts/harry-potter.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.card-img-top {
  height: 320px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.houses {
  margin-top: 10px;
  text-align: center;
}

.houses button {
  font-size: 20px;
  height :40px;
  width: 120px;
  background-color: #f0ba1a;
  text-transform: uppercase;
}

.choose {
  font-size: 30px;
  text-transform: uppercase;
}

@media(max-width: 600px) {
  .App {
    height: 170px;
  }
  .menu {
    display: block;
    text-align: center;
  }
  .menu button {
    margin-top: 2px;
    margin-right: 2px;
  }
}
